<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.tcmt.sensorhelper</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>

    <!-- Which apps may install this helper -->
    <key>SMAuthorizedClients</key>
    <array>
        <string>identifier "com.tcmt.hardwaremonitor" and anchor apple generic and certificate leaf[subject.OU] = "8VXZS5M92N"</string>
    </array>
</dict>
</plist>
