// Embedded SMBus .bin modules for PawnIO DIMM temperature reading
SMBUS_I801      RCDATA "src/third_party/LibreHardwareMonitor/LibreHardwareMonitorLib/Resources/PawnIo/SmbusI801.bin"
SMBUS_PIIX4     RCDATA "src/third_party/LibreHardwareMonitor/LibreHardwareMonitorLib/Resources/PawnIo/SmbusPIIX4.bin"
SMBUS_NCT6793   RCDATA "src/third_party/LibreHardwareMonitor/LibreHardwareMonitorLib/Resources/PawnIo/SmbusNCT6793.bin"
SMBUS_SKYLAKE   RCDATA "src/third_party/LibreHardwareMonitor/LibreHardwareMonitorLib/Resources/PawnIo/SmbusIntelSkylakeIMC.bin"
